// WiFi network name and password
#define WIFI_SSID "ssid"
#define WIFI_PASSWORD "password"

// Telegram bot token and target chat ID
#define TG_BOT_TOKEN "token"
#define TG_CHAT_ID "chat-id"

// timezone offset
#define TIMEZONE_OFFSET 3600 * 3 // UTC+2
